body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    

}
/*h1, h2, h3, h4, h5, h6 {
   font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;*/


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
     background-color: #0056b3;
    border-color: #0056b3;
}
.section1
{
    background-image:url("./images/blue.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
